# Core Framework
streamlit

# Data Manipulation & Math
pandas
numpy

# Machine Learning & Model Loading
joblib
xgboost
scikit-learn

# Visualization
plotly
matplotlib
seaborn

# PDF Generation & Image Processing
fpdf
kaleido
